body {
    padding: 0;
    margin: 0;
}
.contenedor {
    padding: 40px;
    margin: 3% 30%;
    line-height: 25px;
    background-color: rgb(255, 247, 248);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 10px 10px 20px rgba(177, 162, 162, 0.3);;
}
h1 {
    color: #ffa3d9;
}
ol>li {
    list-style:upper-roman;
    color: rgb(255, 158, 218);
}
ul>li {
    list-style:disc;
}
a {
    text-decoration: none;
    color: #555;

}
a:hover {
    color: rgb(255, 115, 115);
    transition: color 0.3s;
}
.contenedor:hover {
    translate: 0 5%;
}